<div class="row g-3 mx-4">
    <div class="col-sm-6">
        <label for="nombre-Cliente">Nombre Comercial</label>
        <input type="text" class="form-control" placeholder="Nombre Comercial" aria-label="Nombre Comercial" name="nombre-Cliente" id="nombre-Cliente" [(ngModel)]="cliente.nombreComercial">
    </div>
    <div class="col-sm-6">
        <label for="razonSocial-Cliente">Razón Social</label>
        <input type="text" class="form-control" placeholder="Razóm Social" aria-label="Razóm Social" name="razonSocial-Cliente" id="razonSocial-Cliente" [(ngModel)]="cliente.razonSocial">
    </div>
</div>
<div class="border-bottom my-3"></div>
<div class="row g-3 mx-4">
    <div class="col-sm-6">
        <label for="correoE-Cliente">Correo Electrónico</label>
        <input type="email" class="form-control" placeholder="Correo Electrónico" aria-label="Correo Electrónico" name="correoE-Cliente" id="correoE-Cliente" [(ngModel)]="cliente.correoElectronico">
    </div>
    <div class="col-sm-6">
        <label for="telefono-Cliente">Teléfono</label>
        <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono" name="telefono-Cliente" id="telefono-Cliente" [(ngModel)]="cliente.telefono">
    </div>
</div>
<div class="border-bottom my-3"></div>
<div class="row g-3 mx-4">
    <div class="col-sm-6">
        <label for="estado-Cliente">Estado</label>
        <input type="text" class="form-control" placeholder="Estado" aria-label="Estado" name="estado-Cliente" id="estado-Cliente" [(ngModel)]="cliente.estado">
    </div>
    <div class="col-sm-6">
        <label for="municipio-Cliente">Municipio</label>
        <input type="text" class="form-control" placeholder="Municipio" aria-label="Municipio" name="municipio-Cliente" id="municipio-Cliente" [(ngModel)]="cliente.municipio">
    </div>
</div>
<div class="border-bottom my-3"></div>
<div class="row g-3 mx-4">
    <div class="col-sm-6">
        <label for="colonia-Cliente">Colonia</label>
        <input type="text" class="form-control" placeholder="Colonia" aria-label="Colonia" name="colonia-Cliente" id="colonia-Cliente" [(ngModel)]="cliente.colonia">
    </div>
    <div class="col-sm-6">
        <label for="CP-Cliente">Código postal</label>
        <input type="number" class="form-control" placeholder="Código postal" aria-label="Código postal" name="CP-Cliente" id="CP-Cliente" [(ngModel)]="cliente.codigoPostal">
    </div>
</div>
<div class="border-bottom my-3"></div>
<div class="row g-3 mx-4">
    <div class="col-sm-4">
        <label for="calle-Cliente">Calle</label>
        <input type="text" class="form-control" placeholder="Calle" aria-label="Calle" name="calle-Cliente" id="calle-Cliente" [(ngModel)]="cliente.calle">
    </div>
    <div class="col-sm-4">
        <label for="numExt-Cliente">Número Exterior</label>
        <input type="text" class="form-control" placeholder="Número Exterior" aria-label="Número Exterior" name="numExt-Cliente" id="numExt-Cliente" [(ngModel)]="cliente.numExt">
    </div>
    <div class="col-sm-4">
        <label for="numInt-Cliente">Número Interior</label>
        <input type="text" class="form-control" placeholder="Número Interior" aria-label="Número Interior" name="numInt-Cliente" id="numInt-Cliente" [(ngModel)]="cliente.numInt">
    </div>
</div>

<button class="btn btn-success btn-Guardar mt-2" (click)="agregarCliente();"> <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
<div class="border-bottom my-3"></div>

<div class="row g-3 mx-4">
    <div id="mapa" #map style="width: 640px; height: 384px"></div>
</div>